@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hacj: #ffc4c4;
  --background: linear-gradient(
    145deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      325deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    --hacj: #0a0a0a;
    --foreground: #ffc4c4;
  }
}

:root {
  --primary: #0d4714;
  --secondary: #e9eae0;
}

body {
  background-color: var(--secondary);
  color: var(--primary);
}

.header-font {
  font-family: "Times New Roman Compact", serif;
}

.body-font {
  font-family: "Gotham", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
